<ul class="actions">
    <a href="{{ path("wtpro_models_form") }}">Add a vehicle type</a>
    <a href="{{ path("wtpro_models_list") }}">List vehicle types</a>
    <a href="{{ path("wtpro_drivers_form") }}">Add a driver</a>
    <a href="{{ path("wtpro_drivers_list") }}">List drivers</a>
</ul>